/* --- GERAL --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- FONTES --- */
@font-face {
  font-family: 'Poppins-Medium';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Black';
  src: url('../fonts/Poppins-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-SemiBoldItalic';
  src: url('../fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
}

/* --- CONFIGURAÇÕES --- */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins-Medium', sans-serif;
  color: #1b2b36;
  background-color: white;
  overflow-x: hidden;/* LIMITA ROLAGEM LATERAL */
}

/* --- NAVBAR --- */
.navbar {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 0.3);
  justify-content: space-between; /* DIREITA */
  align-items: center;
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'Poppins-Medium', sans-serif;
}

/*--- LOGO 02 --- */
.logo-02 img {
  height: 60px;
}

/*--- HOME 1 ---*/

.home-1 {
  width: 100%;
  height: 700px;
  padding: 60px 20px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/backgroundh1.png');

}

/*--- LOGO + NOME ---*/
.logo-01 {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 120px;
  margin-left: 20px;
  gap: 1px;
}

.logo-01 img {
  width: 150px;
  height: 150px;
}

.logo-01 h1 {
  font-family: 'Poppins-Black', sans-serif;
  font-size: 6rem;
  color: #fbbc05;
}

/*--- CONTEÚDO ---*/
.hero {
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  margin-top: -25px;
  margin-bottom: 0px;
  gap: 30px;
}

/*--- TEXTO ---*/
.hero-text h2 {
  font-size: 2rem;
  font-family: 'Poppins-ExtraBold', sans-serif;
  color: #ffffff;
  white-space: nowrap; /* IMPEDE QUEBRA DE LINHA */
}

.hero-text ul {
  list-style: none;
}

.hero-text li {
  margin: 20px 0px;
  font-size: 1.5rem;
  font-family: 'Poppins-SemiBoldItalic', sans-serif;
  color: #ffffff;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

/*---  IMAGE PROFISSIONAIS ---*/
.hero-image img {
  position: absolute;
  transform: translate(-20%, -25%);
  /* EIXO X / Y */
  left: 900px;
  top: 280px;
  width: 520px;
  display: block;
  z-index: 1;
}

/* --- HOME 2 ---*/
.home-2 {
  width: 100%;
  height: 700px;
  padding: 60px 20px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/backgroundh2.png');
}

.container-1 {
  position: relative;
  width: 680px;
  height: 300px;
  border-radius: 20px;
  padding: 20px;
  margin-top: -350px;
  margin-left: auto;
  margin-right: 40px;
  background-color: white;
  display: block;
}

/*--- TEXTO ---*/
.texto-quem-somos h2 {
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  color: #fbbc05;
}

.texto-quem-somos p {
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 1.4rem;
  text-align: center;
  color: #1c2d3a;
}

/*--- LOGO 03 ---*/
.logo-03 {
  position: absolute;
  transform: translate(110%, -90%); /* EIXO X / Y */
  left: 0px;
  top: 0px;
  z-index: 2;
  display: flex;
}

.logo-03 img {
  width: 200px;
  height: auto;
  object-fit: contain;
}

/*--- IMAGE PROFISSIONAIS 2 ---*/
.profissionais-2 {
  position: relative;
  margin-top: 100px;
  margin-left: 20px;
}

.profissionais-2 img {
  width: 500px;
  height: auto;
  object-fit: contain;
}

/*---  HOME 3 ---*/
.home-3 {
  width: 100%;
  height: 600px;
  padding: 60px 20px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/backgroundhome3.png');
}

.container-2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  padding: 20px;
  gap: 550px;  /* -- DISTANCIA DOS CARDS --*/
  background-color: transparent;
}

/*--- CARD ---*/
.card-left {
  margin-top: 140px;
  border-radius: 20px;
  padding: 10px;
  width: 400px;
  height: 350px;
  background-color: white
}

.card-right {
  margin-top: 140px;
  border-radius: 10px;
  padding: 10px;
  width: 320px;
  height: 250px;
  background-color: white
}

/*--- TEXTO ---*/
.card-left h2,
.card-right h2 {
  font-size: 1.8rem;
  font-family: 'Poppins-Medium', sans-serif;
  text-align: center;
  color: #fbbc05;
}

.card-left p,
.card-right p {
  font-size: 1.4rem;
  font-family: 'Poppins-Medium', sans-serif;
  color: #1c2d3a;
  text-align: center;
}

/*--- IMAGE PROFISSIONAIS 3 ---*/
.images-profissionaish3 {
  position: absolute;
  transform: translate(-43%, -35%); /*-- X /Y --*/
  top: 50%;
  left: 50%;
  z-index: 1;
}

.images-profissionaish3 img {
  width: 550px;
  height: auto;
  object-fit: contain;
}

/*--- FOOTER ---*/
.site-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #637381;
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 1rem;
  color: #1b2b36;
  text-align: center;
  padding: 15px 15px;
}

/* ----------------- RESPONSIVIDADE ------------------ */